
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Calculateur du cours de tests OpenClassrooms</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-light bg-success fixed-top">
    <a class="navbar-brand" href="#"> The Open Calculator</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Open Calculator</h1>
        <h2>

            <form action="#" th:action="@{/calculator}" th:object="${calculation}" method="post">
                <!-- Display for results -->
                <div class="result-display">
                    <span id="solution" th:text="${response.getSolution()}">Solution</span>
                </div>

                <!-- Number and operation buttons -->
                <div class="row">
                    <div class="col-3"><button type="button" class="btn btn-light btn-calc">7</button></div>
                    <div class="col-3"><button type="button" class="btn btn-light btn-calc">8</button></div>
                    <div class="col-3"><button type="button" class="btn btn-light btn-calc">9</button></div>
                    <div class="col-3"><button type="button" class="btn btn-warning btn-calc">÷</button></div>
                </div>
                <div class="row">
                    <div class="col-3"><button type="button" class="btn btn-light btn-calc">4</button></div>
                    <div class="col-3"><button type="button" class="btn btn-light btn-calc">5</button></div>
                    <div class="col-3"><button type="button" class="btn btn-light btn-calc">6</button></div>
                    <div class="col-3"><button type="button" class="btn btn-warning btn-calc">×</button></div>
                </div>
                <div class="row">
                    <div class="col-3"><button type="button" class="btn btn-light btn-calc">1</button></div>
                    <div class="col-3"><button type="button" class="btn btn-light btn-calc">2</button></div>
                    <div class="col-3"><button type="button" class="btn btn-light btn-calc">3</button></div>
                    <div class="col-3"><button type="button" class="btn btn-warning btn-calc">-</button></div>
                </div>
                <div class="row">
                    <div class="col-3"><button type="button" class="btn btn-light btn-calc">0</button></div>
                    <div class="col-3"><button type="button" class="btn btn-light btn-calc">.</button></div>
                    <div class="col-3"><button type="submit" class="btn btn-primary btn-calc">=</button></div>
                    <div class="col-3"><button type="button" class="btn btn-warning btn-calc">+</button></div>
                </div>
            </form>

        </h2>
    </div>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>
